.App{
    overflow: hidden;
    color: var(--black);
    background-color: #f3f3f3;
    padding: 1rem;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #a6ddf0;
    filter: blur(72px);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    cursor: pointer;
}
.button:hover{
    color: orange;
    background: transparent;
    border: 2px solid var(--orange);
}
::-webkit-scrollbar{
    display: none;

}
body{
    scroll-behavior: smooth;
    scrollbar-width: none;
}